@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos globales */
body {
  font-family: montserrat, sans-serif, Arial;
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #404041;
  color: #f6f6f6;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
.navbar .logo h1 {
  margin: 0;
  font-size: 1.5rem;
  text-shadow: #000000 4px 3px 3px;
}

.navbar .logo img {
  height: 80px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 2rem;
}

.navbar a {
  color: #f6f6f6;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.5rem;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #4d92df;
}

.navbar a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ddd;
  transition: width 0.3s;
}

.navbar a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Estilos del banner */
.banner {
  background-color: #d0d0d1;
  text-align: center;
  padding: 4rem 1rem;
  border-bottom: 10px solid #5c5d5e;
}

.banner h2 {
  margin: 0;
  font-size: 2rem;
  color: #000000;
}

.rojoSec {
  background-color: #878889; /* Color de fondo de la sección roja */
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  border-top: 5px solid #5c5d5e; /* Línea de separación superior */
}

/* contenido  */
.container {
  margin: 40px 150px;
}

.container h2 {
  border-bottom: 2px solid black;
}

.container h2::after {
  content: "";
  display: block;
  width: 5%;
  height: 3px;
  background: #262626;
}

/* *noticias */
.noticias-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.noticia {
  width: 49%;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}

.noticia img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.noticia-content {
  padding: 15px;
}

.noticia-date {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}

.noticia-title {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 10px;
}

.noticia-description {
  font-size: 1em;
  margin: 0;
  margin-bottom: 10px;
}

.noticia-link {
  color: #007bff;
  text-decoration: none;
}

.noticia-link:hover {
  text-decoration: underline;
}

/* Estilo para la noticia principal */
.noticia-principal {
  width: 100%;
  background-color: #f1f1f1;
}

.noticia-principal .noticia-title {
  font-size: 1.5em;
}

/* Estilos del footer */
.footer {
  background-color: #404041;
  color: #f6f6f6;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.imagenFooter img {
  height: 220px;
}

.siguenos img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
}

.siguenos a {
  margin: 0 15px;
  text-decoration: none;
  color: #f6f6f6;
  padding-bottom: 0.5rem;
  transition: color 0.3s;
}

.siguenos a:hover {
  color: #4d92df;
}

/* Estilos para el menú móvil */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.mobile-menu ul {
  list-style: none;
  background: #f6f6f6;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.mobile-menu li {
  margin: 1rem 0;
}

.mobile-menu a {
  color: #404041;
  text-decoration: none;
  font-size: 1.5rem;
}

/* *quienes somos sección */

.quienes-somos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.explicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 50%;
}

.enlaces-internos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 50%;
}

/* quita los caracteres rarosq que tenia "&nbsp;" */
.enlaces-internos li a span {
  margin-left: 5px;
}
.explicacion a {
  color: #000000;
  text-decoration: none;
}
.efectoBarra a {
  display: inline-block;
  position: relative;
}

.efectoBarra a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #2a2a2b;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.efectoBarra a:hover::after {
  width: 100%;
}

.enlaces-internos h3 {
  text-align: center;
  margin: 0;
}

.enlaces-internos img {
  width: 15px;
  height: 15px;
}

.enlaces-internos ul {
  list-style: none;
}

.enlaces-internos li {
  margin: 10px 0px;
}

.enlaces-internos a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

/* oferta educatica */

.carreras-tecnicas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.carreras-tecnicas-grid .col-3 {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: 0.4s;
  width: 90%;
}

.carreras-tecnicas-grid .col-3:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.col-3 img {
  width: 260px;
  height: auto;
}

.col-3 h3 {
  margin: 10px 0;
  font-size: 1.5em;
  text-align: center;
}

/* aspirantes */

.aspirantes-container {
  margin: 20px;
}

.aspirantes-container a {
  text-decoration: none;
  color: #000000;
}
.aspirantes-header {
  background-color: #b3c7f7;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.aspirantes-content {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.aspirantes-section a {
  text-decoration: none;
  color: #000000;
}

.aspirantes-sections {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.aspirantes-section {
  text-align: center;
}

.aspirantes-section-header {
  background-color: #b3c7f7;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.aspirantes-section p {
  margin: 0;
}

.aspirantes-content:hover {
  background-color: #dcdcdc;
}

/* sección de alumnos */
.alumnos-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 100px;
  place-items: center;
}

.alumnos-section {
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.alumnos-contenido{
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}



.alumnos-section {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.alumnos-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b3c7f7; /* Color de fondo deseado */
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;

}



.alumnos-section:hover::after {
  transform: scaleY(1);
}

.alumnos-title {
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
  border-bottom: 2px solid blue;
    transition: color 0.3s;
}

.alumnos-title:hover {
  color: #fff;
}

.alumnos-section p {
  margin: 0;
}

.alumnos-section a{
    text-align: center;
 
}

/* docentes */

.docentes-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.docentes-links {
    width: 60%;
}

.docentes-link {
    display: block;
    background-color: #404041;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.docentes-link:hover {
    background-color: #a52455;
}

.docentes-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
}

.docentes-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* padres de familia */

.familia-container {
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cajita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

}

.cajita a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    transition: color 0.3s;

}

.cajita a:hover{
    color: #4d92df;
}

/* contacto */

.info-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.contac{
        padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 50%;
}
.mapa{
    width: 50%;
    height: 400px;
    margin-bottom: 40px;
    overflow: hidden;
}


/* Responsive styles */
@media (max-width: 768px) {
    .docentes-container {
        flex-direction: column;
        align-items: center;
    }

    .docentes-links, .docentes-images {
        width: 100%;
    }

    .docentes-links {
        order: 2;
    }

    .docentes-images {
        margin-bottom: 20px;
    }

    .docentes-link {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .docentes-image {
        width: 80px;
        height: 80px;
    }
}

/* Responsive styles */
@media (max-width: 768px) {
  .alumnos-section {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .alumnos-section {
    width: 100%;
  }
}



/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar .menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar .menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #f6f6f6;
    margin: 5px 0;
  }

  .navbar ul.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #767373;
    width: 90%;
    padding: 1rem 0;
    z-index: 10;
    border-radius: 20px;
    animation: slideDown 0.35s forwards;
    top: 100px;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-20px) translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0) translateX(-50%);
      opacity: 1;
    }
  }

  .navbar ul.active li {
    margin: 1rem 0;
  }

  .navbar ul.active li {
    text-decoration: underline #ddd;
    transition: text-decoration 0.3s;
  }

  .navbar ul.active li:hover {
    text-decoration: underline #4d92df;
  }

  .container {
    margin: 0;
    padding: 20px;
  }

  .container h2::after {
    width: 13%;
  }
  /* Estilos para el overlay */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .overlay.active {
    display: block;
  }

  .navbar a::after {
    background: none;
  }

  .footer {
    overflow: hidden;
    display: block;
    padding: 40px;
  }
  .imagenFooter img {
    height: 180px;
  }

  .imagenFooter {
    display: grid;
    justify-content: center;
  }

  .siguenos {
    display: flex;
    justify-content: center;
    place-content: center;
    flex-direction: column;
  }

  .siguenos img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    right: 10px;
  }

  .navbar .logo img {
    height: 50px;
  }

  .noticia {
    display: block;
    width: 100%;
  }

  .noticia img {
    width: 100%;
    height: auto;
  }

  .quienes-somos {
    flex-direction: column;
  }

  .explicacion {
    width: 90%;
  }
  .enlaces-internos {
    width: 90%;
  }

  .carreras-tecnicas-grid {
 place-items: center;
    gap: 10px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 15px 0px;
  }

  .carreras-tecnicas-grid .col-3 img {
    width: 100%;
    height: 120px;
    height: auto;
    display: block;
  }

  .carreras-tecnicas-grid .col-3 {
    width: 85%;
    padding: 10px;
  }
  .col-3 h3 {
    font-size: 1.2em;
    padding: 10px;
  }
  .aspirantes-section {
    width: 45%;
  }
  
  .aspirantes-content{
    height: 60%;
  }
  .alumnos-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 55px;
  position: relative;
 
  
}

.alumnos-section {
  background-color: #f0f0f0;
  padding: 0px;
  width: 110%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
      height: 90%;
}


.info-contacto{
    flex-direction: column;
  

}


.mapa {
overflow: hidden;
width: 100%;

}

.contac{
    width: 90%;
}


}

@media (max-width: 480px) {
  .aspirantes-section {
    width: 100%;
    
  }

   .alumnos-container {

  gap: 20px 45px;
 
  
}

  
.familia-container {
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

  .cajita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

}

.cajita a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    transition: color 0.3s;

}
}

